# Python Data Types & Structures

# Questions

Q1. What are data structures, and why are they important?
- Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
- Importance:
  -  Choosing the right data structure significantly impacts the efficiency and performance of your program.
  -  Well-chosen data structures can: Simplify data manipulation (adding, removing, modifying elements), Optimize searching and sorting operations, Conserve memory usage.

Q2. Explain the difference between mutable and immutable data types with examples.
- Mutable Data Types:
  - These can be changed after creation.
  - You can modify, add, or remove elements without creating a new object.
  - Examples: list, dict, set
-  Immutable Data Types;
  - These cannot be changed after creation.
  - Any operation that tries to change the value will create a new object.
  - Examples: int, float, str, tuple, bool, frozenset

Q3. What are the main differences between lists and tuples in Python?
- Lists
  - Description: Ordered, mutable collections of elements. Think of shopping lists or task lists. Lists can hold items of various data types (numbers, strings, even other lists!).
  - Operations: You can add, remove, or modify elements within a list using indexing and slicing. Lists are versatile for storing and managing collections that might change.
- Tuples:
  - Description: Ordered, immutable collections of elements, similar to lists. However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.
  - Operations: You can access elements using indexing and slicing, but you cannot modify the content. Tuples are useful for representing fixed datasets or configurations.

Q4. Describe how dictionaries store data.
- Dictionaries store data as key-value pairs.
- They use a hash table to allow very fast access to values by key.
- Keys must be hashable (immutable types like strings, numbers, tuples).
- Values can be any type.

Q5. Why might you use a set instead of a list in Python?
- You might use a set instead of a list when:
  - You Want Only Unique Items
  - You Need Fast Membership Checks
  - You Want to Do Set Operations, such as union(), intersection(), difference()

Q6. What is a string in Python, and how is it different from a list?
- A string is a sequence of characters - like letters, numbers, or symbols - enclosed in quotes.
- Difference between strin & list:
  - Data Type -
    - String: Holds text (characters).
    - List: Can hold anything — numbers, text, even other lists.
  - Mutability -
    - String: Cannot be changed (immutable).
    - List: Can be changed (mutable).
  - Syntax -
    - String: Use quotes → 'Hello' or "Hello"
    - List: Use square brackets → [1, 2, 3]
  - Item Types -
    - String: Only characters (like 'H', 'e', 'l', 'l', 'o')
    - List: Can mix types (like [1, 'a', 3.5])
  - Methods -
    - String: Has text functions like .upper(), .lower(), .replace()
    - List: Has list tools like .append(), .pop(), .sort()

Q7. How do tuples ensure data integrity in Python?
- Tuples ensure data integrity by:
  - Being immutable (can’t change the contents)
  - Being hashable (can be used in sets/dictionaries)
  - Preventing accidental modifications

Q8. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores data in key-value pairs using a process called hashing.
  - It uses a hash function to convert a key (like "name") into a number (called a hash).
  - That number tells the table where to store or look for the value quickly.
- In Python, dictionaries are built using hash tables for:
  - Fast lookups (O(1) Time)
  - Efficient updates
  - Uniqueness of keys

Q9. Can lists contain different data types in Python?
- Python lists are flexible - they can hold items of any type, even all mixed together.
- You can store complex records in one list.
- It makes Python very dynamic and easy to use, especially for quick tasks or small programs.

Q10. Explain why strings are immutable in Python.
- Strings are immutable to keep your data safe, efficient, and reliable.
- You can create new strings, but you can't change them in place.

Q11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries and lists are both useful, but dictionaries are better for certain tasks — especially when working with key-value data.
  - Fast Lookups (O(1) Time)
  - Meaningful Keys
  - Flexible Data Mapping
  - Avoid Duplicates in Keys

Q12. Describe a scenario where using a tuple would be preferable over a list.
- Use a tuple when you want to store a fixed set of values that should not change. Tuple offers follows:
  - Fixed data
  - Protects from accidental changes
  - More efficient
  - Hashable

Q13.  How do sets handle duplicate values in Python?
- Sets do not allow duplicates.
- They automatically remove or ignore repeated values.
- This makes sets great for tasks like:
  - Finding unique items
  - Removing duplicates from a list
  - Membership testing (if item in set)

Q14. How does the “in” keyword work differently for lists and dictionaries?
- Lists:
- In a list, in checks whether a value exists in the list.
- It looks at the items inside the list.
- Dictionaries:
- In a dictionary, in checks whether a key exists - not the value.
- To check for a value in a dictionary, you must use .values():

Q15. Can you modify the elements of a tuple? Explain why or why not.
- No, you cannot modify the elements of a tuple.
- Because tuples are immutable — which means once a tuple is created, its contents cannot be changed.
  - You can’t add, remove, or update items.
  - Trying to do so will raise an error.
- You can't change the tuple itself, but if the tuple contains a mutable object, you can change the contents of that object.
- You can't change the tuple itself, but if the tuple contains a mutable object, you can change the contents of that object.

Q16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary inside another dictionary.
It lets you store hierarchical or grouped data - like records within records.
- Use Cases:
  - Storing product info in an online store (product_id → {name, price, stock})
  - Representing JSON-like API data
  - Tracking configuration settings in apps

Q17. Describe the time complexity of accessing elements in a dictionary.
- In Python, accessing an element in a dictionary by key is: Average Case: O(1) (Constant Time)
  - Python uses a hash table for dictionaries.
  - The key is hashed, and Python uses that hash to directly locate the value.
  - This makes lookup, insertion, and deletion very fast — on average, just one step.

Q18. In what situations are lists preferred over dictionaries?
- Lists are prefered when:
  - You Need to Keep Order
    - Lists remember the order of items (since Python 3.7+, so do dicts — but lists are still better for ordered sequences).
    - Ideal for tasks like to-do lists, queues, menus, etc.
  -  You Don't Need Key-Value Pairs
    - Lists are best when you're storing just values, not labels or named fields.
  - You Want to Store Duplicate Values
    - Lists allow duplicates, dictionaries do not (keys must be unique).
  - You Will Use Indexes to Access Data
    - If you're working with data by position (e.g., item at index 0), lists are ideal.
  - You Need a Simple Sequence
    - When your data is just a simple collection, and you don’t need to label each item with a key.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?
- In older versions of Python (before 3.7), dictionaries were unordered, meaning:
  - They didn’t remember the order in which key-value pairs were added.
  - The order of items could change when the dictionary was modified.
- Starting with Python 3.7, dictionaries preserve insertion order by default.
- But even though the order is preserved, dictionaries are still considered unordered collections theoretically because:
  - The main focus is on key-based access, not position.
  - Dictionaries are optimized for fast lookups, not order.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.
- Use a list when:
  - You care about the order or positions of items.
  - You don’t need labeled data.
- Use a dictionary when:
  - You want to retrieve data by name, label, or ID (i.e., using keys).
  - You want faster access to specific pieces of information.

# Practical Questions

Q1. Write a code to create a string with your name and print it.

In [ ]:
name = "Siddharth"
print(name)

Siddharth

Q2. Write a code to find the length of the string "Hello World".

In [ ]:
text = "Hello World"
length = len(text)
print("Length of string:", length)

Length of string: 11

Q3. Write a code to slice the first 3 characters from the string "Python Programming".

In [ ]:
text = "Python Programming"
sliced_text = text[:3]
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

Q4. Write a code to convert the string "hello" to uppercase.

In [ ]:
text = "hello"
print(text.upper())

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 5, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
my_list = [1, 2, 3, 4, 5]
my_list.pop(2)
print(my_list)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [18]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print("Second element:", second_element)

Second element: b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [19]:
my_list = [10, 20, 30, 40, 50]
reversed_list = my_list[::-1]
print("Reversed list:", reversed_list)

Reversed list: [50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [20]:
my_tuple = (100, 200, 300)
print("My tuple:", my_tuple)

My tuple: (100, 200, 300)

Q12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last = my_tuple[-2]
print("Second-to-last element:", second_to_last)

Q13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [21]:
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print("Minimum number:", minimum)

Minimum number: 5

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index("cat")
print("Index of 'cat':", index_of_cat)

Q15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [ ]:
fruits = ("apple", "banana", "mango")

if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [23]:
my_set = {'a', 'b', 'c'}
print("My set:", my_set)

My set: {'b', 'c', 'a'}

Q17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [22]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Cleared set:", my_set)

Cleared set: set()

Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [24]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("Updated set:", my_set)

Updated set: {1, 2, 3}

Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [25]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

Q20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [26]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

Q21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [27]:
person = {
    "name": "Alice",
    "age": 25,
    "city": "Mumbai"
}

print("Person dictionary:", person)

Person dictionary: {'name': 'Alice', 'age': 25, 'city': 'Mumbai'}

Q22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [28]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

Q23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [30]:
person = {'name': 'Alice', 'age': 30}
name_value = person["name"]
print("Name:", name_value)

Name: Alice

Q24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [29]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop("age")
print(person)

{'name': 'Bob', 'city': 'New York'}

Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [32]:
person = {'name': 'Alice', 'city': 'Paris'}

if "city" in person:
    print("Key 'city' exists.")
else:
    print("Key 'city' does not exist.")

Key 'city' exists.

Q26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [31]:
my_list = [1, 2, 3, 4]

my_tuple = ('apple', 'banana', 'cherry')

my_dict = {'name': 'John', 'age': 25}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'John', 'age': 25}

Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [36]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]

random_numbers.sort()

print("Sorted random numbers:", random_numbers)

Sorted random numbers: [5, 7, 37, 64, 79]

Q28. Write a code to create a list with strings and print the element at the third index.

In [37]:
words = ["apple", "banana", "cherry", "date", "elderberry"]

print("Element at index 3:", words[3])

Element at index 3: date

Q29. Write a code to combine two dictionaries into one and print the result.

In [38]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict = {**dict1, **dict2}

print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

Q30. Write a code to convert a list of strings into a set.

In [39]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]

string_set = set(string_list)

print("Set of strings:", string_set)

Set of strings: {'cherry', 'apple', 'banana'}